* {
  padding: 0;
  margin: 0;
  color: #fdfdfd;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container,
.screen,
.panel {
  border-radius: 0.5rem;
}

.container {
  height: 30rem;
  width: 40%;
  margin-top: 10rem;
  box-shadow: 0 0 2rem #323e40;
}

.calc-screen {
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: #54686b;
  padding: 0.3rem 1.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: right;
  justify-content: space-evenly;
}

.top {
  font-size: 1.5rem;
}

.bottom {
  font-size: 3rem;
}

.panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #3d4c4e;
  border-radius: 0 0 0.5rem 0.5rem;
  padding-bottom: 0.5rem;
}

button {
  border: 0.1rem solid #323e40;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #3d4c4e;
}

button:active {
  background-color: #435356;
}

.control {
  background-color: #799296;
}

.control:active {
  background-color: #6e898d;
}

.operator,
.key {
  background-color: #f2a922;
}

.operator:active,
.key:active {
  background-color: #f4b747;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}
